# Dependencies
node_modules/

# Next.js
.next/
.netlify/
out/
build/

# TypeScript
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Prisma local files
prisma/dev.db
prisma/dev.db-journal
